<!-- loading all relevant css and js -->
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css' />
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css' media="print" />
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/gcal.js'></script>


<center> BGU Music Room Scheduler </center>
<script language="javaScript">
    function showMe(box) {
        var chboxs = document.getElementsByName("collaborative");
        var vis = "none";
        var selected = document.getSelection;
        if (chboxs[0].checked) {
            vis = "block";
        }
        document.getElementById(box).style.display = vis;
    }

</script>
<div id="calEventDialog">
    <!-- new event -->
    <form action="/submit" method="post">
        <!--  <fieldset> -->
        <script language="javaScript">
            var id = 5;
        </script>
        <label for="phone_number">Phone Number:</label>
        <input type="text" name="phone_number" id="phone_number" /><br>
        <label for="eventStart">Start Time:</label>
        <input type="text" name="eventStart" id="eventStart" disabled/><br>
        <label for="eventEnd">End Time:</label>
        <input type="text" name="eventEnd" id="eventEnd" disabled/><br>
        <input type="checkbox" name="collaborative" onclick="showMe('div2')" nameid="collaborative"> Let people know I'm down for a jam</br>
        <div id="div2" style="display:none">
            Description: <input type="text" name="collaborative_description" id="collaborative_description"/><br>
        </div>
        <!--   </fieldset> -->
    </form>
</div>
</script>
<div id="eventContent" title="Event Details" display:none>
    <!-- existing event drop down -->
    <div id="eventInfo"></div>
    <p><strong><a id="eventLink" target="_blank">Read More</a></strong></p>
</div>
<div style="border:solid 2px red;">
    <div id='myCalendar'></div>
</div>
<!-- Calling the client -->
<script src="javascripts/pavelclient.js"></script>
<div id='calendar'></div>